@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --header-height: 4rem;
  --font-medium: 500;
  --base-font: "Poppins", sans-serif;
  --primary-color: #222831;
  --secondary-color: #00adb5;
  --white-color: #eeeeee;
  --grey-color: #a6a6a6;
  --big-font-size: 4rem;
  --medium-font-size: 1.8rem;
  --normal-font-size: 1.2rem;
  --small-font-size: 0.9rem;
  --m-1: 0.5rem;
  --m-2: 1rem;
  --m-3: 1.5rem;
  --m-4: 2rem;
  --m-5: 2.5rem;
  --m-6: 3rem;
}

/* base */
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: var(--base-font);
}
h1,
h2,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

svg {
  position: absolute;
  bottom: 0;
}
article {
  padding: 4rem;
}
.section {
  margin: 0;
  padding: 5rem 0 10rem;
  position: relative;
}
.section-title {
  position: relative;
  font-size: var(--medium-font-size);
  color: var(--secondary-color);
  text-align: center;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 5rem;
  height: 0.3rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 3rem;
  background-color: var(--primary-color);
}
.section-title.white {
  color: var(--white-color);
}
.section-title.white::after {
  background-color: var(--primary-color);
}

.section-title.blue::after {
  background-color: var(--white-color);
}

/* header */
.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  color: var(--white-color);
  padding: 0 1rem;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.nav-scroll {
  background-color: var(--primary-color);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 50%), 0 2px 10px 0 rgb(0 0 0 / 25%);
}
.nav__list {
  display: flex;
}
.nav__item {
  margin-left: var(--m-4);
}
.nav__link.active {
  font-weight: bold;
  color: var(--secondary-color);
  border-bottom: 3px solid var(--secondary-color);
}
.nav__link {
  position: relative;
  color: var(--white-color);
  font-weight: var(--font-medium);
}
.nav__link:hover {
  color: var(--secondary-color);
  border-bottom: 3px solid var(--secondary-color);
}
.nav__logo {
  font-size: var(--medium-font-size);
  color: var(--white-color);
  font-weight: bold;
}
.nav__toggle {
  display: none;
}

/* banner */
.section.banner {
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(34, 40, 49, 0.6) 0%,
      rgba(34, 40, 49, 0.8) 100%
    ),
    url(../img/work2.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
  color: var(--white-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: var(--medium-font-size);
  color: var(--primary-color);
}
h2 {
  font-size: var(--big-font-size);
    color: var(--secondary-color);
}
p {
  font-size: var(--normal-font-size);
}
a.scroll-down {
  color: var(--primary-color);
  text-decoration: none;
}
a.scroll-down:hover {
  color: var(--primary-color);
}
.scroll-down p {
  text-align: center;
  position: absolute;
  bottom: 8rem;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: var(--medium-font-size);
  color: var(--white-color);
}
.scroll-animation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-80px) translateX(-50%) rotate(45deg);
}
.scroll-animation span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  animation: scroll-arrow 1.5s linear infinite;
  opacity: 0;
}
.scroll-animation span:nth-child(1) {
  transform: translate(-15px, -15px);
  animation-delay: -0.4s;
}
.scroll-animation span:nth-child(2) {
  transform: translate(0px, 0px);
  animation-delay: -0.2s;
}
.scroll-animation span:nth-child(3) {
  transform: translate(15px, 15px);
  animation-delay: 0s;
}
@keyframes scroll-arrow {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  50%,
  100% {
    top: 5px;
    left: 5px;
    opacity: 1;
  }
}

/* about */
.section.about {
  color: var(--primary-color);
}
.section.about article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section.about aside {
  text-align: center;
}
.section.about aside h3 {
  font-size: var(--medium-font-size);
  width: 15rem;
  margin: 0 auto;
}
.section.about aside p {
  font-weight: bold;
  font-size: var(--normal-font-size);
  color: var(--secondary-color);
}
.about__bio {
  margin-left: var(--m-6);
}
.about__bio h3 {
  color: var(--secondary-color);
  font-size: var(--medium-font-size);
}

/* skill */
.section.skill {
  background-color: var(--secondary-color);
}
.section.skill article {
  display: flex;
}
.section.skill article aside.web-view {
  display: flex;
  align-items: center;
}
.section.skill article aside.mobile-view {
  display: none;
}
.skill__title {
  color: var(--white-color);
  font-size: var(--normal-font-size);
}
.skill__item {
  width: 40rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-medium);
  padding: 0.5rem 1rem;
  margin-bottom: var(--m-4);
  border-radius: 0.5rem;
  background-color: var(--white-color);
  color: var(--primary-color);
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}
.skill__names {
  display: flex;
  align-items: center;
  margin-bottom: var(--m-1);
}
.skill__icon {
  font-size: 2rem;
  margin-right: var(--m-2);
  color: var(--first-color);
}
.skill__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--primary-color);
  height: 0.5rem;
  border-radius: inherit;
  z-index: 1;
}
.skill__html {
  width: 90%;
}
.skill__css {
  width: 85%;
}
.skill__js {
  width: 75%;
}
.skill__bs {
  width: 80%;
}
.skill__laravel {
  width: 75%;
}
.skill__mysql {
  width: 90%;
}
.skill__rn {
  width: 75%;
}
.skill__ionic {
  width: 65%;
}
.skill__android {
  width: 50%;
}
.skill__img {
  width: 30rem;
}
.mobile-skill .skill__img {
  width: 24rem;
}

/* project */
.section.project {
  background-color: var(--primary-color);
  padding-bottom: 15rem;
}
.project__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: var(--m-6) 0;
}
.project__img {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: var(--m-4);
}
.project__img img {
  width: 20rem;
  height: 12rem;
}
.project__label {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--secondary-color);
  color: var(--white-color);
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-bottom-right-radius: 1rem;
}
.project__link {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}
.project__img:hover .project__link {
  bottom: 0;
}
.project__link-name {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  padding: var(--m-1);
  color: var(--white-color);
  font-weight: var(--font-medium);
}

/* contact */
.contact__container {
  margin: var(--m-6) 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact__container label {
  font-weight: bold;
  color: var(--secondary-color);
}
.contact__info {
  max-width: 30rem;
}
.contact__info p {
  margin-top: var(--m-1);
  margin-bottom: var(--m-5);
  color: var(--primary-color);
}
.contact__inputs {
  display: flex;
  justify-content: space-between;
}
.contact__input {
  width: 90%;
  padding: 0.8rem;
  outline: none;
  border: 1.5px solid var(--primary-color);
  font-size: var(--normal-font-size);
  border-radius: 0.5rem;
  margin: var(--m-2) var(--m-3) var(--m-2) 0;
}
textarea.contact__input {
  margin-right: 0;
  width: 95%;
}
.contact__btn {
  display: block;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 0.75rem 2.5rem;
  margin-left: auto;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-right: var(--m-3);
}

/* footer */
footer {
  padding: var(--m-6);
  display: flex;
  background-color: var(--primary-color);
  height: 20rem;
}
footer h3 {
  font-weight: bold;
  color: var(--white-color);
}
footer p,
footer a,
footer ul li {
  color: var(--grey-color);
}
footer .bio {
  max-width: 20rem;
  margin-left: 3rem;
  margin-right: 10rem;
}
footer .explore {
  margin-right: 10rem;
}
footer h3,
footer p,
footer ul li {
  font-size: var(--small-font-size);
}
footer a i {
  font-size: var(--medium-font-size);
}
footer a:hover {
  color: var(--secondary-color);
}
footer .medsos__icon {
  margin-right: var(--m-1);
}

@media screen and (max-width: 768px) {
  /* general */
  :root {
    --big-font-size: 2.5rem;
    --medium-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.8rem;
  }
  article {
    padding: var(--m-3);
  }
  .section {
    margin: 0;
    padding: 5rem 0;
    position: relative;
  }

  /* header */
  .nav__list {
    display: block;
  }
  .nav__toggle {
    display: block;
  }
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--grey-color);
    transition: 0.3s;
  }
  .show {
    right: 0;
  }
  .nav__link.active,
  .nav__link:hover {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
  }

  /* about */
  .section.about article {
    display: block;
  }
  .about__bio {
    margin-left: 0;
    text-align: center;
  }

  /* skill */
  .section.skill article {
    display: block;
  }
  .section.skill article aside.mobile-view {
    display: flex;
    align-items: center;
  }
  .section.skill article aside.web-view {
    display: none;
  }
  .skill__item {
    width: 100%;
    display: block;
  }
  .mobile-skill,
  .web-skill {
    padding: var(--m-1) var(--m-3);
  }
  .mobile-skill .skill__img {
    width: 10rem;
    margin: 0 auto;
  }

  /* project */
  .section.project {
    padding-bottom: var(--m-2);
  }

  /* contact */
  .contact__container {
    display: block;
    margin: var(--m-4);
  }
  .contact__inputs {
    display: block;
  }
  .contact__btn {
    margin: auto;
  }
  textarea.contact__input,
  .contact__input {
    width: 100%;
  }

  /* footer */
  footer {
    padding: var(--m-3);
    display: block;
    height: 25rem;
  }
  footer > div {
    margin-bottom: var(--m-3);
  }
  footer .bio {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }
  footer .explore {
    margin-right: 10rem;
  }
}
